.DateTimeFilter {
    color: black;
    padding-top: 5px;
    padding-right: 15px;
    display: flex;
    position: fixed;
}

.TargetSelector {
    color: black;
    margin-top: -15px;
    padding-right: 15px;
    text-align: center;
}